.historyWrapper {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}



h2 {
  font-size: 2.3em;
  color: whitesmoke;
  text-shadow: 2px 2px 3px rgba(82, 82, 82, 0.541);
}
  
  
